Created a CSV file from the Wikipedia page using Excel and updloaded it to Github.

In [35]:
!wget -O book1.csv https://github.com/r2d2-collab/Data-Science/blob/master/Book1.csv?raw=true

--2020-01-29 21:47:47--  https://github.com/r2d2-collab/Data-Science/blob/master/Book1.csv?raw=true
Resolving github.com (github.com)... 140.82.118.3
Connecting to github.com (github.com)|140.82.118.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/r2d2-collab/Data-Science/raw/master/Book1.csv [following]
--2020-01-29 21:47:48--  https://github.com/r2d2-collab/Data-Science/raw/master/Book1.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/r2d2-collab/Data-Science/master/Book1.csv [following]
--2020-01-29 21:47:49--  https://raw.githubusercontent.com/r2d2-collab/Data-Science/master/Book1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.48.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.48.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7065 (6.9K) [text/plain]
Saving to: ‘book1.csv’

100%[======================================>] 7,065       --.-K/s   in 0s

2020-01-29 21:47:49 (47.6 MB/s) - ‘book1.csv’ saved [7065/7065]

In [36]:
df = pd.read_csv('book1.csv')

In [45]:
df.head()

  Postcode       Borough    Neighbourhood
0      M1B   Scarborough            Rouge
1      M1B   Scarborough          Malvern
2      M1C   Scarborough   Highland Creek
3      M1C   Scarborough       Rouge Hill
4      M1C   Scarborough       Port Union

In [48]:
df.columns

Index(['Postcode ', 'Borough ', 'Neighbourhood'], dtype='object')

In [52]:
df.shape

(210, 3)

In [49]:
df1 = df.groupby(['Postcode ','Borough '])['Neighbourhood'].apply(', '.join).reset_index()

In [50]:
df1.head()

  Postcode       Borough                            Neighbourhood
0      M1B   Scarborough                           Rouge, Malvern
1      M1C   Scarborough   Highland Creek, Rouge Hill, Port Union
2      M1E   Scarborough        Guildwood, Morningside, West Hill
3      M1G   Scarborough                                   Woburn
4      M1H   Scarborough                                Cedarbrae

In [51]:
df1.shape

(103, 3)