Created a CSV file from the Wikipedia page using Excel and updloaded it to Github.

In [1]:
!wget -O book1.csv https://github.com/r2d2-collab/Data-Science/blob/master/Book1.csv?raw=true

--2020-01-30 20:51:28--  https://github.com/r2d2-collab/Data-Science/blob/master/Book1.csv?raw=true
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/r2d2-collab/Data-Science/raw/master/Book1.csv [following]
--2020-01-30 20:51:28--  https://github.com/r2d2-collab/Data-Science/raw/master/Book1.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/r2d2-collab/Data-Science/master/Book1.csv [following]
--2020-01-30 20:51:29--  https://raw.githubusercontent.com/r2d2-collab/Data-Science/master/Book1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.8.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.8.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7065 (6.9K) [text/plain]
Saving to: ‘book1.csv’

100%[======================================>] 7,065       --.-K/s   in 0s

2020-01-30 20:51:29 (40.9 MB/s) - ‘book1.csv’ saved [7065/7065]

In [3]:
import pandas as pd
df = pd.read_csv('book1.csv')

In [4]:
df.head()

  Postcode       Borough    Neighbourhood
0      M1B   Scarborough            Rouge
1      M1B   Scarborough          Malvern
2      M1C   Scarborough   Highland Creek
3      M1C   Scarborough       Rouge Hill
4      M1C   Scarborough       Port Union

In [5]:
df.columns

Index(['Postcode ', 'Borough ', 'Neighbourhood'], dtype='object')

In [52]:
df.shape

(210, 3)

In [7]:
df1 = df.groupby(['Postcode ','Borough '])['Neighbourhood'].apply(', '.join).reset_index()

In [9]:
df1.head()

  Postcode       Borough                            Neighbourhood
0      M1B   Scarborough                           Rouge, Malvern
1      M1C   Scarborough   Highland Creek, Rouge Hill, Port Union
2      M1E   Scarborough        Guildwood, Morningside, West Hill
3      M1G   Scarborough                                   Woburn
4      M1H   Scarborough                                Cedarbrae

In [26]:
df1.columns = ['Postal Code','Borough','Neighbourhood']

In [34]:
df1.columns

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

In [57]:
df1.shape

(103, 3)

In [58]:
!wget -O CA_Geodata.csv https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv

--2020-01-30 21:59:18--  https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Resolving cocl.us (cocl.us)... 158.85.108.86, 169.48.113.194, 158.85.108.83
Connecting to cocl.us (cocl.us)|158.85.108.86|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-01-30 21:59:21--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197, 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-01-30 21:59:21--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-01-30 21:59:21--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211, 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!sZtAzQduXAJlEupwczbKZA8i52KTRTTAOGw2mzR4htXcom1kYrgwmbbQUM5TouinoaCYj1-s5i4e1jg7306-pfye09GGEEgAlOSNkZFFHZIO_jbIQQH84RQWDIfCspBHI48RZRUNN-4vtA9Zfy72apv6zomVaY_esdcehvTD1tf10Nf_tf75cpMu0z66xiOad2a75esdI6KkDqJARbx96nJUS7oUZcmwsCKs7L-7dsd14VT-OE6nNHzUtCGFrpbj0JxATMBsw7ySfGurvDWngFXNjQLPNvukeOXUb0MFfi5eojl9d7caVdC01ASr8h5y-8byVbcbrmIRnWcFICfaX3wi55L64EoixbknfeLrY2skgzDvUXOo_ZxcbasyHxz_H_IZHg3qHTNOhUe-b1BomzQz4BxcRXWjIDAWJrgY3UjE8YhP6kg6LeNQm57Gi67U-dESOhkVIVJhnH3lpmA3bCXhAc7FwR-x70asB5QhVClN1uUMKzqSxDwuWbsiA9G-LdrtrbhjkWNuFtJ2FzpTcnWzp0XhrOLIX85tQp8eGbvJvH1ZMmWfb2S0fC-qcT9FzUSH6JRxcGRqttgrvwOeBOEvTk8yG7Ra6spIutDSF-Uks9DMYm2--J1q8Sw0tTizrDMnGsdMz0xBqKTb9f3G8BezU46_4BhLLymVA5bdsG2tfealOWPhRBJzwdtk1Hpef7zUB7ys31re0owkUzJJz2vzRMMvXLN1QEUCS8x595zbODSfGszZcoKEfIFPMz3ThGd72Pmthrww4fU_6LEe-N2miErxXN4lZeh3YwNirF_cYPIH1KARdHO1epWYmc001Zuowp1Yuc_Hm3H8r6cdFTgQ3v6mG-F6Ba8Wj0ILRUZA8oHzWswaJPtTFmdczJJkUKFQ4zlpqbBk6q_uPmZAhIszyyJdE5DLlR0WGSaptigQxM3zJo96tk-K3y9BUDm5A5pIf2IrL9lL1oI3cEVViuNuMkzg7dLU_HQgu2-5JmAzoRRQbLNC54A2dKBKBW9hTvsCDILsBJAgw6iORVC0a5HCnZYUQcu3MwxjuRGtPSWRWVsW_QLisbELpxtUA3OnJd9pVNFCfb52fWulxYU6HVc-zuj2nEEVdLHyM27_m5dGoqfP5GD0K_QBNQXRmltNS1hY6XtKyiS_DowuI6xre1BqdFyBjxFNtGOj4uoRxAiy9RZpi2-JeZnR-5NX3PdSg2uKBO88KRwjy3-lHmfjqHV6l623jk_HPxhPkqQtKNWvIQ94WiJ8dDCMRfIodv7-C3aVUQyDPHWBR_yJNgHj2OiLlwcG3MvrYeYXF7_krSaTfl9b0VpHX9kqETul9LOh-3YX7g88D3mialb2cd45WRcukaKTd9dlJHuFA0Wxdm3wErfJL0-z-Xka_NY./download [following]
--2020-01-30 21:59:22--  https://public.boxcloud.com/d/1/b1!sZtAzQduXAJlEupwczbKZA8i52KTRTTAOGw2mzR4htXcom1kYrgwmbbQUM5TouinoaCYj1-s5i4e1jg7306-pfye09GGEEgAlOSNkZFFHZIO_jbIQQH84RQWDIfCspBHI48RZRUNN-4vtA9Zfy72apv6zomVaY_esdcehvTD1tf10Nf_tf75cpMu0z66xiOad2a75esdI6KkDqJARbx96nJUS7oUZcmwsCKs7L-7dsd14VT-OE6nNHzUtCGFrpbj0JxATMBsw7ySfGurvDWngFXNjQLPNvukeOXUb0MFfi5eojl9d7caVdC01ASr8h5y-8byVbcbrmIRnWcFICfaX3wi55L64EoixbknfeLrY2skgzDvUXOo_ZxcbasyHxz_H_IZHg3qHTNOhUe-b1BomzQz4BxcRXWjIDAWJrgY3UjE8YhP6kg6LeNQm57Gi67U-dESOhkVIVJhnH3lpmA3bCXhAc7FwR-x70asB5QhVClN1uUMKzqSxDwuWbsiA9G-LdrtrbhjkWNuFtJ2FzpTcnWzp0XhrOLIX85tQp8eGbvJvH1ZMmWfb2S0fC-qcT9FzUSH6JRxcGRqttgrvwOeBOEvTk8yG7Ra6spIutDSF-Uks9DMYm2--J1q8Sw0tTizrDMnGsdMz0xBqKTb9f3G8BezU46_4BhLLymVA5bdsG2tfealOWPhRBJzwdtk1Hpef7zUB7ys31re0owkUzJJz2vzRMMvXLN1QEUCS8x595zbODSfGszZcoKEfIFPMz3ThGd72Pmthrww4fU_6LEe-N2miErxXN4lZeh3YwNirF_cYPIH1KARdHO1epWYmc001Zuowp1Yuc_Hm3H8r6cdFTgQ3v6mG-F6Ba8Wj0ILRUZA8oHzWswaJPtTFmdczJJkUKFQ4zlpqbBk6q_uPmZAhIszyyJdE5DLlR0WGSaptigQxM3zJo96tk-K3y9BUDm5A5pIf2IrL9lL1oI3cEVViuNuMkzg7dLU_HQgu2-5JmAzoRRQbLNC54A2dKBKBW9hTvsCDILsBJAgw6iORVC0a5HCnZYUQcu3MwxjuRGtPSWRWVsW_QLisbELpxtUA3OnJd9pVNFCfb52fWulxYU6HVc-zuj2nEEVdLHyM27_m5dGoqfP5GD0K_QBNQXRmltNS1hY6XtKyiS_DowuI6xre1BqdFyBjxFNtGOj4uoRxAiy9RZpi2-JeZnR-5NX3PdSg2uKBO88KRwjy3-lHmfjqHV6l623jk_HPxhPkqQtKNWvIQ94WiJ8dDCMRfIodv7-C3aVUQyDPHWBR_yJNgHj2OiLlwcG3MvrYeYXF7_krSaTfl9b0VpHX9kqETul9LOh-3YX7g88D3mialb2cd45WRcukaKTd9dlJHuFA0Wxdm3wErfJL0-z-Xka_NY./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.27.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.27.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘CA_Geodata.csv’

100%[======================================>] 2,891       --.-K/s   in 0s

2020-01-30 21:59:23 (259 MB/s) - ‘CA_Geodata.csv’ saved [2891/2891]

In [59]:
import pandas as pd
df_CA = pd.read_csv('CA_Geodata.csv')

In [60]:
df_CA.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [61]:
df_CA.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [70]:
new_df = pd.merge(df1, df_CA, on='Postal Code', how = 'left')

In [69]:
new_df

    Postal Code Borough Neighbourhood   Latitude  Longitude
0           M1B     NaN           NaN  43.806686 -79.194353
1           M1C     NaN           NaN  43.784535 -79.160497
2           M1E     NaN           NaN  43.763573 -79.188711
3           M1G     NaN           NaN  43.770992 -79.216917
4           M1H     NaN           NaN  43.773136 -79.239476
5           M1J     NaN           NaN  43.744734 -79.239476
6           M1K     NaN           NaN  43.727929 -79.262029
7           M1L     NaN           NaN  43.711112 -79.284577
8           M1M     NaN           NaN  43.716316 -79.239476
9           M1N     NaN           NaN  43.692657 -79.264848
10          M1P     NaN           NaN  43.757410 -79.273304
11          M1R     NaN           NaN  43.750072 -79.295849
12          M1S     NaN           NaN  43.794200 -79.262029
13          M1T     NaN           NaN  43.781638 -79.304302
14          M1V     NaN           NaN  43.815252 -79.284577
15          M1W     NaN           NaN  43.799525 -79.318389
16          M1X     NaN           NaN  43.836125 -79.205636
17          M2H     NaN           NaN  43.803762 -79.363452
18          M2J     NaN           NaN  43.778517 -79.346556
19          M2K     NaN           NaN  43.786947 -79.385975
20          M2L     NaN           NaN  43.757490 -79.374714
21          M2M     NaN           NaN  43.789053 -79.408493
22          M2N     NaN           NaN  43.770120 -79.408493
23          M2P     NaN           NaN  43.752758 -79.400049
24          M2R     NaN           NaN  43.782736 -79.442259
25          M3A     NaN           NaN  43.753259 -79.329656
26          M3B     NaN           NaN  43.745906 -79.352188
27          M3C     NaN           NaN  43.725900 -79.340923
28          M3H     NaN           NaN  43.754328 -79.442259
29          M3J     NaN           NaN  43.767980 -79.487262
..          ...     ...           ...        ...        ...
73          M6C     NaN           NaN  43.693781 -79.428191
74          M6E     NaN           NaN  43.689026 -79.453512
75          M6G     NaN           NaN  43.669542 -79.422564
76          M6H     NaN           NaN  43.669005 -79.442259
77          M6J     NaN           NaN  43.647927 -79.419750
78          M6K     NaN           NaN  43.636847 -79.428191
79          M6L     NaN           NaN  43.713756 -79.490074
80          M6M     NaN           NaN  43.691116 -79.476013
81          M6N     NaN           NaN  43.673185 -79.487262
82          M6P     NaN           NaN  43.661608 -79.464763
83          M6R     NaN           NaN  43.648960 -79.456325
84          M6S     NaN           NaN  43.651571 -79.484450
85          M7A     NaN           NaN  43.662301 -79.389494
86          M7R     NaN           NaN  43.636966 -79.615819
87          M7Y     NaN           NaN  43.662744 -79.321558
88          M8V     NaN           NaN  43.605647 -79.501321
89          M8W     NaN           NaN  43.602414 -79.543484
90          M8X     NaN           NaN  43.653654 -79.506944
91          M8Y     NaN           NaN  43.636258 -79.498509
92          M8Z     NaN           NaN  43.628841 -79.520999
93          M9A     NaN           NaN  43.667856 -79.532242
94          M9B     NaN           NaN  43.650943 -79.554724
95          M9C     NaN           NaN  43.643515 -79.577201
96          M9L     NaN           NaN  43.756303 -79.565963
97          M9M     NaN           NaN  43.724766 -79.532242
98          M9N     NaN           NaN  43.706876 -79.518188
99          M9P     NaN           NaN  43.696319 -79.532242
100         M9R     NaN           NaN  43.688905 -79.554724
101         M9V     NaN           NaN  43.739416 -79.588437
102         M9W     NaN           NaN  43.706748 -79.594054

[103 rows x 5 columns]